.App {
  font-family: 'Caveat', cursive;
  font-size: 30px;
  text-align: center;
  background-color: #EEEEEE
}
button{
  border-radius: 10px;
  width: 350px;
  height: 35x;
  padding: 10px;
  background-color: #748DA6;
  border: none;
  font-size: 20px;
  color: #EFEAD8;
}
h1{
  color: #748DA6;
}
h2{
  color: #F29191;
}



